@import '../../../styles/settings.scss';

.card_wrapper {
  background-color: darken($color-dark, 3%);
  border-style: none;
}
.price {
  color: $color-favorite-icon;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 1rem;
}

.title {
  color: $color-warning;
  font-size: 24px;
  margin-left: 1rem;
}