@import "../../../styles/settings.scss";

nav {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: $color-light;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 440px;
  &:hover {
    color: $color-light;
  }

  .span {
    color: $color-warning;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-right: 0;
  }
}
