$color-light: #fff;
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;
$color-button: #29468d;
$color-button-hover: #385ebc;
$color-warning-hover: #e37764;
$color-border-nav: #aaa;
$color-favorite-icon: #f5b342;
$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
